.header a{
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    color: black;
    background-color: blueviolet;
    border-radius: 10px;
}
.header a:hover{
    color:white;
    background-color: black;
  
}